@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: hsl(36, 100%, 99%);
}

@media (min-width: 1025px) {
  body{
    margin: 2rem 8rem;
  }
}

li {
  margin: 1rem 0;
  font-weight: 700;
}

@media (min-width: 1025px) {
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    font-weight: 400;
    color: hsl(236, 13%, 42%);
  }

  ul li a:hover {
color: hsl(35, 77%, 62%);
  }
}


@media (min-width: 1025px){
.mainImg{
  height: 20rem;
  width: 100%;
}
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 3rem;
  padding: 1rem 0rem;
}

.readMore {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 2rem 0;
}

.readMore:hover{
  background-color: hsl(240, 100%, 5%);
}

aside {
  background-color: hsl(240, 100%, 5%);
  padding: 1rem;
  margin: 1rem 0;
}

@media (min-width: 1025px){
  aside{
    padding: 2rem;
  }
}


aside h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

aside h3 {
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

aside h3:hover{
  color: hsl(35, 77%, 62%);
}

aside p {
  color: hsl(233, 8%, 79%);
  margin-bottom: 1rem;
}

hr {
  margin: 2rem 0;
  border-color: hsl(236, 13%, 42%);
}

section article{
max-height: 200px;
max-width: 400px;
}

article div h2 {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
  font-weight: 800;
}

article div h3 {
  font-size: 1.2rem;
  font-weight: 800;
}

article div h3:hover{
  color: hsl(5, 85%, 63%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 5%;
  top: 25px;
  margin-left: 9rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin: 1.7rem 1rem;
}

@media (min-width: 481px) {
  .bm-cross-button {
    margin: 1.7rem;
  }
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  bottom: 0;
}

/* General sidebar styles */
.bm-menu {
  background: hsl(36, 100%, 99%);
  padding: 7.5em 1em;
  /* font-size: 1.15em; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
}
